<section>
<img src="/img/davey.jpg" id="davey">
<br>
<br>
<p>I'm a website developer who loves working with <em class="bold">JavaScript</em>.<br>Specifically: <em><u>Node.js</u></em> and <em><u>Vue.js</u></em>.</p>
</section>
<section>
<hr>
<i class="fas fa-pencil-alt fa-5x" style="color: #c974c8"></i> <h1>PROJECTS</h1>
<p>Below are two of my "main projects" I've been working on:</p>
<div class="row">
<div class="col">
<a href="/weather/" target="_blank" id="weather-zip"><i class="fas fa-cloud fa-5x" id="weather-zip"></i><br><span style="color: white;">Weather Zip</em></a><br>
<a href="https://github.com/davidranich/weather-zip" target="_blank" class="code">Click here for the code</a>
</div>
</div>
    <br>
    <div class="row">
    <div class="col"><a href="/flappy/" target="_blank"><img src="/img/bird.png" class="flappy"><br><span style="color: white;">Flappy Box</em></a><br>
    <a href="https://github.com/davidranich/flappy-box" target="_blank" class="code">Click here for the code</a>
    </div>
</div>
<br>
<p>You can <a href="https://github.com/davidranich" target="_blank">find me on GitHub</a>, which also showcases <a href="https://github.com/davidranich/david-ranich-dotcom" target="_blank">my website's code</a>!</p>
</section>
<section>
<hr>
    <i class="fas fa-phone fa-5x" style="color: #c974c8"></i> <h1>CONTACT</h1>
    <p>You can reach me by the following options below:</p>
    <p><i class="fas fa-at fa-2x" style="color: #c974c8"></i> <a href="mailto:ranich.david@gmail.com">ranich.david@gmail.com</a><br>
    <i class="fab fa-linkedin fa-2x" style="color: #c974c8"></i> <a href="https://www.linkedin.com/in/david-ranich/" target="_blank">https://www.linkedin.com/in/david-ranich/</a></p>
</section>
